body {
    background-image: url(kero.jpg);
}
h1 {
    color:rgb(93, 218, 235);
    font-family:'Courier New', Courier, monospace;
    font-size:80px;
    text-align:center;
    background-color:rgb(255, 243, 218);
    margin:60px;
    border-style:groove;
    border-radius: 30px;
    border-width: 20px;
    border-color:rgb(255, 228, 193);
}



li{
    font-size:20px;
    color:rgb(255, 0, 212);
}