*{
    box-sizing:border-box;
}

body {
    background-image: url(stars2.jpg);
    
}

.title{
    color:rgb(63, 114, 162);
    font-style:italic;
    text-align:center;
    font-size:90px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h5 {
    text-align: center;
    color:blueviolet;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p {
    text-align:center;
    font-size: 50px;
    color:blueviolet;
}
h2 {
    color:rgb(59, 79, 139);
    text-align:center;
}

img {
    margin: 16px; 
    border: 8px dashed;
    border-color:rgb(98, 183, 214);
    align-items: center;

}
div {
    display:flex;
    justify-content: center;
  height: 100%; 
}

.art {
    text-align: center;
    color:#ff4ae7;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.bro {
    text-align:center;
    color:#ff4ae7;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(201, 244, 255); 
}
.mini {
    text-align:center;
    color:#ff4ae7;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(201, 244, 255); 
}
.friends {
    text-align:center;
    color:#ff4ae7;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(201, 244, 255); 
}

.homepage {
    font-size:15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}