body {
    background-color:paleturquoise;
}
h1 {
    color:rgb(92, 117, 189);
    font-style:italic;
    text-align:center;
    font-size:90px
}
h3 {
    color:rgb(59, 79, 139);
    font-style:italic;
    text-align:center;
    font-size:30px
}
p {
    text-align:center;
}